.notFound {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-color: rgb(36, 42, 46);
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    margin: auto;
    font-size: 4.8rem;
  }
}
